form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 42px auto;
}

label {
    font-family: var(--font-roboto);
    font-size: 18px;
    margin-bottom: 3px;
    color: var(--color-text-dark-blue);
}

input {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    padding: 18px;
}

input::placeholder {
    font-family: var(--font-roboto);
    font-style: italic;
    font-size: 16px;
    color: var(--color-text-gray);
}