@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    --font-roboto: 'Roboto', sans-serif;
    --color-text-dark-blue: #293845; 
    font-family: var(--font-roboto);
}

h2 {
    margin: 40px auto;
    color: var(--color-text-dark-blue);
    font-family: var(--font-roboto);
    font-size: 24px;
    display: flex;
    justify-content: center;
}