h2 {
    margin: 0 auto;
    padding: 40px 0;
    color: var(--color-text-dark-blue);
    font-family: var(--font-roboto);
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.bold-green {
    color: var(--color-text-sucess);
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}